
/*
.titlebar-buttonbox  {
	display: none !important;
}

#TabsToolbar {
	visibility: collapse;
}

#tabbrowser-tabs {
  visibility: collapse;
}

#sidebar-header {
  display: none;
} 


.titlebar-buttonbox-container {
  margin-right: 50px !important;
}

.titlebar-spacer[type="pre-tabs"] {border-inline-end: 5px solid white !important;width: 5px !important;}



*/


/* hide native tabs and sidebar header */
#TabsToolbar-customization-target {
  visibility: collapse;
}

#navigator-toolbox[inFullscreen="true"] #titlebar {
  visibility: collapse;
}

#sidebar-header {
  visibility: collapse;
}

/* realign elements */
#nav-bar {
  margin-top: calc(-1 * var(--tab-min-height));
  margin-right: 144px;
  box-shadow: none !important;
}

#nav-bar[inFullscreen="true"] {
  margin-top: unset;
  margin-right: unset;
}

.titlebar-buttonbox-container {
  min-height: var(--tab-min-height);
}

/* recolor elements and enable window dragging */
#navigator-toolbox {
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
  background-clip: padding-box;
  color: var(--toolbar-color);
  
  -moz-window-dragging: drag;
}